
<form action="/landmarks" method="post">
  <p>Name: <input type="text" name="landmark[name]" value="">
  <p>Figure ID: <input type="text" name="landmark[figure_id]" value="<%= @figure_id%>">
  <p>Years: <input type="text" name="landmark[year_completed]" value="">
  <button type="submit">Submit</button>
</form>
